<ng-container *ngIf="post">


    <div [hidden]="!editing">
      <mat-card>
        <h1>Edit Post</h1>
          <mat-form-field>
            <input matInput placeholder="Post Title" [(ngModel)]="post.title" name="title">
          </mat-form-field>
          <br>
          
              <div matInput class="NgxEditor__Wrapper">
              <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
              <ngx-editor 
                [editor]="editor"
                [(ngModel)]="post.content"
                [disabled]="false"
                [placeholder]="'Type here...'"
              ></ngx-editor>
            </div>
          
          <br>
          <button mat-raised-button (click)="updatePost()" color="accent">Save</button>
          <button mat-button (click)="editing=false" *ngIf="editing">Cancel</button>
    </mat-card>
    </div>
  
    <div [hidden]="editing">
      <mat-card>
        <img mat-card-image src="{{post.image}}" alt="{{post.title}}">
        <h2>{{post.title}}</h2>
        <p>
          <small>Posted by {{post.author}} &bull;</small>
        </p>
        <mat-card-content>
          <p [innerHTML]="post.content | safeHtml"></p>
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="auth.currentUserId === post.authorId">
          <button mat-icon-button (click)="editing=true">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button routerLink="delete(post.postId)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
  